{% set package_table = {
    '14.04': {'libapache2-mod-php': 'libapache2-mod-php5'},
    '16.04': {'libapache2-mod-php': 'libapache2-mod-php'},
} %}

{% if salt['grains.get']('os') == 'Ubuntu' %}
    {% if grains['lsb_distrib_release'] in package_table %}
        {% set pkgs = package_table[grains['lsb_distrib_release']] %}
    {% else %}
        {% set pkgs = {'libapache2-mod-php': 'libapache2-mod-php'} %}
    {% endif %}
{% else %}
    {% set pkgs = {'libapache2-mod-php': 'libapache2-mod-php'} %}
{% endif %}
